@font-face{
    font-family: Walkaway;
    src: url('assets/Walkway_Bold-webfont.woff') format('woff');
} 

body{
    margin: 0;
    background-color: #FFF7E9;

}

.nav{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 350px;
    background: #5F6706;
    padding: 0;
    z-index:99999;
}
.filter-title{
    position: relative;
    /* transform: rotate(-90deg); */
    font-size: 2.5rem;
    padding: 1rem;
    top: 100px;
    left: 22px;
    /* display: inline-block; */
    overflow: hidden;
    /* width: 100rem; */
    color: #FFF7E9;
    /* font-family: Walkaway; */
    font-weight: 900;
    letter-spacing: .2rem;
}

h2{
    font-family: Walkaway;
    letter-spacing: .2rem;
    font-size: 2rem;
    border: 1px solid  #FFF7E9;
    width: 8rem;
    text-align: center;
    padding: 1rem;
    color: #FFF7E9;
}

.filter1 {
    position: relative;
    top: 100px;
    left: 80px;
}

.filter2{
    position: relative;
    top: 100px;
    left: 80px;
}

.filter1:hover{
    background: #FFF7E9;
    color: #5F6706;
}

.filter2:hover{
    background: #FFF7E9;
    color: #5F6706;
}

a{
    text-decoration: none;
}

/* .filter1{
    position: absolute;
    font-family: Walkaway;
    font-size: 2rem;
    top: 20px;
    padding: 1rem;
    color:  #FFF7E9;
    letter-spacing: .1rem;
}
.filter2{
    position: absolute;
    font-family: Walkaway;
    font-size: 2rem;
    top: 60%;
    padding: 1rem;
    color:  #FFF7E9;
    letter-spacing: .1rem;
}

.villager-grid{
    position: absolute;
    display: grid;
    grid-template-columns: 2;
    grid-template-columns: 1fr 1fr;
    top: 100px;

} */

.title{
    position: relative;
    /* top: 0; */
    padding: 0;
    left: 36%;
    font-family: ivypresto-display, serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .1rem;
    font-size: 2.5rem;
    color: #90571B;
}

.map1{
    position: absolute;
    top: 3rem;
    /* height: 10px;
    width: auto; */
}

.eric{
  /* background-color: blue; */
  top: 100px;
  position: relative;
}


.tooltip1 {
    position: absolute;
    /* width: 1%;
    height: 1%; */
    display:inline-block;
    /* position:relative; */
    text-align:left;
    /* position: absolute; */
    display: inline;
    z-index: 99999;
    width: 1;
    left: 418px;
    top: 94px;
    
}

.tooltip1 .right {
    min-width:250px; 
    top:100%;
    left:100%;
    margin-left:20px;
    transform:translate(-10%, -50%);
    padding:10px 20px;
    color:#000000;
    background-color:#ECF497;
    /* font-weight:normal; */
    font-family: Walkaway;
    letter-spacing: .05rem;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    border:1px solid #000000;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip1:hover .right {
    display:block;
}

.tooltip1 .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#ECF497;
    border:1px solid #000000;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.tooltip2 {
    position: absolute;
    /* width: 1%;
    height: 1%; */
    display:inline-block;
    /* position:relative; */
    text-align:left;
    /* position: absolute; */
    display: inline;
    z-index: 99999;
    width: 1;
    
    width: 3%;
    height: auto;
    left: 786px;
    top: 85px;
    
}

.tooltip2 .right {
    min-width:300px; 
    top:100%;
    left:100%;
    margin-left:20px;
    transform:translate(10%, -40%);
    padding:10px 20px;
    color:#000000;
    background-color:#ECF497;
    /* font-weight:normal; */
    font-family: Walkaway;
    letter-spacing: .05rem;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    border:1px solid #000000;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip2:hover .right {
    display:block;
}

.tooltip2 .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip3 {
    position: absolute;
    display:inline-block;
    text-align:left;
    display: inline;
    z-index: 99999;
    width: 1;  
    width: 3%;
    height: auto;
    left: 495px;
    top: 560px;
    
}

.tooltip3 .right {
    min-width:300px; 
    top:80%;
    left:100%;
    margin-left:20px;
    transform:translate(10%, -40%);
    padding:10px 20px;
    color:#000000;
    background-color:#ECF497;
    font-family: Walkaway;
    letter-spacing: .05rem;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    border:1px solid #000000;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip3:hover .right {
    display:block;
}

.tooltip3 .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip4 {
    position: absolute;
    display:inline-block;
    text-align:left;
    display: inline;
    z-index: 99999;
    width: 1;  
    width: 3%;
    height: auto;
    left: 685px;
    top: 390px;
    
}

.tooltip4 .right {
    min-width:300px; 
    top:60%;
    left:90%;
    margin-left:20px;
    transform:translate(10%, -40%);
    padding:10px 20px;
    color:#000000;
    background-color:#ECF497;
    font-family: Walkaway;
    letter-spacing: .05rem;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    border:1px solid #000000;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip4:hover .right {
    display:block;
}

.tooltip4 .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip5 {
    position: absolute;
    display:inline-block;
    text-align:left;
    display: inline;
    z-index: 9999;
    width: 1;  
    width: 3%;
    height: auto;
    left: 1005px;
    top: 335px;
    
}

.tooltip5 .right {
    min-width:300px; 
    top:40%;
    left:90%;
    margin-left:20px;
    transform:translate(10%, -40%);
    padding:10px 20px;
    color:#000000;
    background-color:#ECF497;
    font-family: Walkaway;
    letter-spacing: .05rem;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    border:1px solid #000000;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip5:hover .right {
    display:block;
}

.tooltip5 .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip6 {
    position: absolute;
    display:inline-block;
    text-align:left;
    display: inline;
    z-index: 9999;
    width: 1;  
    width: 3%;
    height: auto;
    left: 1005px;
    top: 392px;
    
}

.tooltip6 .right {
    min-width:300px; 
    top:40%;
    left:90%;
    margin-left:20px;
    transform:translate(10%, -40%);
    padding:10px 20px;
    color:#000000;
    background-color:#ECF497;
    font-family: Walkaway;
    letter-spacing: .05rem;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    border:1px solid #000000;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip6:hover .right {
    display:block;
}

.tooltip6 .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip7 {
    position: absolute;
    display:inline-block;
    text-align:left;
    display: inline;
    z-index: 9999;
    width: 1;  
    width: 3%;
    height: auto;
    left: 1005px;
    top: 448px;
    
}

.tooltip7 .right {
    min-width:300px; 
    top:40%;
    left:90%;
    margin-left:20px;
    transform:translate(10%, -40%);
    padding:10px 20px;
    color:#000000;
    background-color:#ECF497;
    font-family: Walkaway;
    letter-spacing: .05rem;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    border:1px solid #000000;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip7:hover .right {
    display:block;
}

.tooltip7 .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip8 {
    position: absolute;
    display:inline-block;
    text-align:left;
    display: inline;
    z-index: 1;
    width: 1;  
    width: 3%;
    height: auto;
    left: 1095px;
    top: 448px;
    
}

.tooltip8 .right {
    min-width:300px; 
    top:40%;
    left:90%;
    margin-left:20px;
    transform:translate(10%, -40%);
    padding:10px 20px;
    color:#000000;
    background-color:#ECF497;
    font-family: Walkaway;
    letter-spacing: .05rem;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    border:1px solid #000000;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip8:hover .right {
    display:block;
}

.tooltip8 .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip9 {
    position: absolute;
    display:inline-block;
    text-align:left;
    display: inline;
    z-index: 1;
    width: 1;  
    width: 3%;
    height: auto;
    left: 1095px;
    top: 392px;
    
}

.tooltip9 .right {
    min-width:300px; 
    top:40%;
    left:90%;
    margin-left:20px;
    transform:translate(10%, -40%);
    padding:10px 20px;
    color:#000000;
    background-color:#ECF497;
    font-family: Walkaway;
    letter-spacing: .05rem;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    border:1px solid #000000;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip9:hover .right {
    display:block;
}

.tooltip9 .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip10 {
    position: absolute;
    display:inline-block;
    text-align:left;
    display: inline;
    z-index: 1;
    width: 1;  
    width: 3%;
    height: auto;
    left: 1095px;
    top: 335px;
    
}

.tooltip10 .right {
    min-width:300px; 
    top:40%;
    left:90%;
    margin-left:20px;
    transform:translate(10%, -40%);
    padding:10px 20px;
    color:#000000;
    background-color:#ECF497;
    font-family: Walkaway;
    letter-spacing: .05rem;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    border:1px solid #000000;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip10:hover .right {
    display:block;
}

.tooltip10 .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip11 {
    position: absolute;
    display:inline-block;
    text-align:left;
    display: inline;
    z-index: 99999;
    width: 1;  
    width: 3%;
    height: auto;
    left: 1026px;
    top: 635px;
    
}

.tooltip11 .right {
    min-width:300px; 
    top:40%;
    left:90%;
    margin-left:20px;
    transform:translate(10%, -40%);
    padding:10px 20px;
    color:#000000;
    background-color:#ECF497;
    font-family: Walkaway;
    letter-spacing: .05rem;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    border:1px solid #000000;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip11:hover .right {
    display:block;
}

.tooltip11 .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip12 {
    position: absolute;
    display:inline-block;
    text-align:left;
    display: inline;
    z-index: 99;
    width: 1;  
    width: 3%;
    height: auto;
    left: 1076px;
    top: 600px;
    
}

.tooltip12 .right {
    min-width:300px; 
    top:40%;
    left:90%;
    margin-left:20px;
    transform:translate(10%, -40%);
    padding:10px 20px;
    color:#000000;
    background-color:#ECF497;
    font-family: Walkaway;
    letter-spacing: .05rem;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    border:1px solid #000000;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip12:hover .right {
    display:block;
}

.tooltip12 .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}


/* .letter-container{
    position: relative;
    z-index: 99;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 2;
    grid-template-columns: 1fr 1fr;
}

.letter-image{
    width: auto;
    height: 40%;
} */