@font-face{
    font-family: Walkaway;
    src: url('assets/Walkway_Bold-webfont.woff') format('woff');
} 

body{
    margin: 0;
    background-color: #FFF7E9;

}

.container{
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}
/* left nav bar */
.nav{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 350px;
    background: #5F6706;
    padding: 0;
    z-index:99999;
}
.filter-title{
    position: relative;
    /* transform: rotate(-90deg); */
    font-size: 2.5rem;
    padding: 1rem;
    top: 100px;
    left: 22px;
    /* display: inline-block; */
    overflow: hidden;
    /* width: 100rem; */
    color: #FFF7E9;
    /* font-family: Walkaway; */
    font-weight: 900;
    letter-spacing: .2rem;
}

h2{
    font-family: Walkaway;
    letter-spacing: .2rem;
    font-size: 2rem;
    border: 1px solid  #FFF7E9;
    width: 8rem;
    text-align: center;
    padding: 1rem;
    color: #FFF7E9;
}

.filter1 {
    position: relative;
    top: 100px;
    left: 80px;
    background: #FFF7E9;
    color: #5F6706;
}

.filter2{
    position: relative;
    top: 100px;
    left: 80px;
}

.filter1:hover{
    background: #FFF7E9;
    color: #5F6706;
}

.filter2:hover{
    background: #FFF7E9;
    color: #5F6706;
}

.home1{
    position: relative;
    top: 410px;
}

.draw-letter{
    position: relative;
    top: 300px;
    left: 160px;
    font-family: Walkaway;
    font-size: 1rem;
    letter-spacing: .1rem;
    color: #FFF7E9;
    width: 140px;
    border: 1px solid #FFF7E9;
    padding: .6rem;
    text-align: center;
}

.draw-letter:hover{
    color: #5F6706;
    background: #FFF7E9;
}
a{
    text-decoration: none;
}

.title{
    position: fixed;
    padding: 0;
    left: 23rem;
    font-family: ivypresto-display, serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .1rem;
    font-size: 2.5rem;
    color: #90571B;
    z-index: 8;
    background:#fff7e9b2;
}


.letter-container{
    position: relative;
    z-index: 5;
    padding: 1rem;
    /* width: 100%; */
}

.letter-image{
    width: 300px;
    height: auto;
}

.filter{
    position: fixed;
    left: 375px;
    font-family: walkaway;
    letter-spacing: .1rem;
    /* font-weight: 900; */
    color: #90571B;
    top: 100px;
    z-index: 8;
    background:#fff7e9b2;
}

.letter-grid{
    margin-left: 350px;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
}


/* phone size */
@media only screen and (max-width: 600px) {
    .nav{
        width: 200px;
    }
    .filter-title{
        font-size: 1.5rem;
        padding: .1rem;
        left: 10px;
    }
    h2{
        letter-spacing: .2rem;
        font-size: 1.5rem;
        width: 6rem;
    }
    .filter1 {
        left: 20px;
    }
    
    .filter2{
        left: 20px;
    }
    .draw-letter{
        top: 400px;
        left: 20px;
        width: 140px;
        padding: .5rem;
    }
    .title{
        padding: 0;
        left: 40%;
        font-size: 2rem;
        width: 300px;
        text-align: center;
    }
    .home1{
        position: relative;
        top: 440px;
        left: -10px;
    }
    .filter{
        left: 210px;
        top: 75px;
        font-size: .9rem;
        padding: .5rem;
    }
    
    .letter-grid{
        margin-left: 200px;
        margin-top: 200px;
    }
    .letter-image{
        width: 270px;
        height: auto;
    }
    
    
  }


